/*
 * Megamenu Framework CSS
 * 
 */

.field-volunteer-megamenu-status,
.field-volunteer-megamenu-width,
.field-volunteer-megamenu-columns,
.field-volunteer-megamenu-title,
.field-volunteer-megamenu-link,
.field-volunteer-megamenu-content,
.field-volunteer-megamenu-icon {
	display: none;
}

.menu-item-depth-0 .field-volunteer-megamenu-status,
.menu-item-depth-0.tpath-megamenu-active .field-volunteer-megamenu-width,
.menu-item-depth-0.tpath-megamenu-active .field-volunteer-megamenu-columns,
.menu-item-depth-1.tpath-megamenu-active .field-volunteer-megamenu-title,
.menu-item-depth-1.tpath-megamenu-active .field-volunteer-megamenu-link,
.menu-item-depth-1.tpath-megamenu-active .field-volunteer-megamenu-content,
.menu-item-depth-2.tpath-megamenu-active .field-volunteer-megamenu-title,
.menu-item-depth-2.tpath-megamenu-active .field-volunteer-megamenu-link,
.menu-item-depth-2.tpath-megamenu-active .field-volunteer-megamenu-content,
.tpath-megamenu-active .field-volunteer-megamenu-icon {
	display: block;
}