/* Rate It Plugin CSS - http://rateit.codeplex.com/downloads/get/169043 */

.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url('../images/stars.png');
    height: 15px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
    background: url('../images/stars.png') left -16px;
}

.rateit .rateit-hover-rtl
{
    background-position: right -16px;
}

.rateit .rateit-selected
{
    background: url('../images/stars.png') left -16px;
}

.rateit .rateit-selected-rtl
{
    background-position: right -15px;
}

.rateit .rateit-preset
{
    background: url('../images/stars.png') left -16px;
}

.rateit .rateit-preset-rtl
{
    background: url('../images/stars.png') left -16px;
}

.rateit button.rateit-reset
{
    background: url('../images/delete.gif') 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -15px;
}


/* END jQuery.Rating Plugin CSS */