/* ================================= Responsive CSS ================================= */

/* ---------- MAX 1199px ---------- */

@media only screen and (max-width:1199px) {
	
}

/* 992 - 1240 Styles */
@media only screen and (max-width: 1240px) and (min-width: 992px) {	
	.content-col-small {
		width: 68%;		
	}
	.pm-sidebar {
		width: 32%;		
	}
	.latest-post-img {
		margin-right: 8px;
		width: 50px;
		height: 50px;
	}
	.team-member .member-social {
		float: left;
	}
	.wpb_wrapper .wpb_tabs .wpb_tabs_nav li > a {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* ---------- MAX 1024px ---------- */

@media only screen and (max-width:1024px) and (min-width:992px) {
	.tpath-top-bar .header-search-form .search-form {
		max-width: 140px;
	}
	.nav.navbar-nav > li > a {
		padding-left: 10px;
		padding-right: 10px;
	}
	.logo-left .dropdown-menu .sub-menu, .logo-center .dropdown-menu .sub-menu {
		left: auto;
		right: 100%;
	}
	
	/* ------- Button Styles ------- */
	.btn.btn-wide {
		width: auto;
	}
	.submit .btn.btn-wide {
		padding: 13px 20px;
	}
	.btn-margin {		
		margin-right: 20px;
	}
	.tpath-count-number {
		line-height: 1.1;
		margin-bottom: 10px;
	}
	.counter-info {
		line-height: 1.2;
		font-size: 22px;
	}
	.footer-section .contact_info-inner .fa {
		padding-right: 12px;
	}
}


/* 1024 - Styles */

@media only screen and (max-width: 1024px) {
	.tpath-main-nav.nav.navbar-nav > li > a {
	 	padding: 0 15px;
		margin:0 15px;
	}
	.portfolio-item .portfolio-overlay {
		height: auto;
	}	
	.portfolio-gallery-wrapper .portfolio-overlay h4, .portfolio-gallery-wrapper .portfolio-overlay h5.portfolio-date {
		line-height: 28px;
		float: none;
		display: block;
		text-align: center;
	}	
	.clients-carousel-slider .owl-controls .owl-prev {
		left:0;
	}
	.clients-carousel-slider .owl-controls .owl-next {
		right:0;
	}
	.clients-wrapper .container {
		width: 100%;
	}
	.owl-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
	    left: 0;
	}
	.owl-carousel.owl-theme .owl-controls .owl-nav .owl-next {
		right: 0;
	}
	.wpb_wrapper .wpb_tabs .wpb_tabs_nav li > a {
		padding: 6px 20px;
	}
	.widget-entry-content {		
		width: 100%;
		float: none;
	}
	.grid-col-2 .grid-posts, .grid-col-3 .grid-posts, .grid-col-4 .grid-posts {
		width: 48%;
	}	
	.tpath-counter .counter-info {
		text-align: center;
	}
	.tpath-tabs .nav-tabs > li > a {
		padding: 20px;
		min-width: 0;
	}	
	.tpath-section-title .section-sub-title {
		margin-top: 5px;
		position: inherit;
		display: inline-block;
	}
	.tpath-feature-box .tpath-feature-icon i, .tpath-feature-box .tpath-feature-icon i::before {
		font-size: 50px;
		line-height: 60px;
	}
	.tpath-feature-box .tpath-feature-box-title h4 {
		line-height: 28px;
		margin: 15px 0 15px;
	}
	.tpath-icon-box-content.icon-align-left .tpath-icon-view {
		min-width: 50px;
	}
	.tpath-feature-box p {
		line-height: 26px;
	}
	.tpath-main-nav.nav.navbar-nav > li > a {
		padding: 0;
		line-height: 90px;
	}
	.header-main-section.is-sticky .tpath-main-nav.nav.navbar-nav > li > a {
		line-height: 65px;
	}
	.header-main-section.is-sticky .tpath-main-nav.nav.navbar-nav > li > a::after {
		bottom: 10px;
	}
	.wpcf7-form > p .btn.btn-action {
		margin-top: 10px;
	}
	.tpath-special-imagearea h4 {
    	bottom: 50px;
	}
	.tpath_team_member .related-members.row {
		padding-left: 0;
	}
	.tpath-team-slider-wrapper .tpath-owl-carousel .owl-controls .owl-nav > div.owl-next {
		right: -15px;
	}
	.tpath-team-slider-wrapper .tpath-owl-carousel .owl-controls .owl-nav > div.owl-prev {
		left: -15px;
	}
}

/* ---------- MAX 1000px ---------- */

@media only screen and (max-width:1000px) {
	.tpath-top-bar .header-search-form .search-form {
		max-width: 200px;
	}
}

/* ---------- MAX 992px ---------- */
@media only screen and (max-width:992px) {
	.testimonial-info {
		padding: 0 15px;
	}
}

/* ---------- MAX 979px ---------- */

@media only screen and (max-width:991px) {

	.navbar-header.tpath-logo {
		text-align: center;	
		float: left;
		padding: 0;
	}
	.navbar-header.tpath-logo img {
		padding: 5px 0;
	}
	.tpath-logo .navbar-brand {
		float: none;
		height: auto;
	}
	.tpath-logo .navbar-brand > img {
		margin: 0 auto;
		transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none;
		top: 0;		
	}
	.logo-center .tpath-header-main-bar {
		position: relative;
		top: 0;
		transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
	.header-main-section .navbar-collapse {
		clear: both;
		text-align: center;
	}
	.nav.navbar-nav.tpath-main-bar {
		float: none;
		display: inline-block;
	}
	.tpath-main-nav.nav.navbar-nav > li > a {
		padding: 0 10px;
	}	
	.tpath-feature-box .tpath-feature-box-title h5 {
		bottom: 10px;
	}
	.navbar-nav {
		z-index: 1;
	}	
	.tpath-megamenu-wrapper {
		min-width: inherit;
	}
	.padding-bottom {
		padding-bottom:15px;
	}
	.two-col-right #single-sidebar-container #sidebar, .two-col-left #single-sidebar-container #primary, .three-col-right #single-sidebar-container #sidebar, .three-col-right #secondary-sidebar, .three-col-middle #single-sidebar-container, .three-col-middle #single-sidebar-container #sidebar, 	.three-col-left #single-sidebar-container, .three-col-left #single-sidebar-container #primary {
		float: left;
	}
	#main-wrapper, #main-wrapper #primary, #main-wrapper #sidebar, #main-wrapper #secondary-sidebar {
		min-height: 0;
	}
	.main-col-small, .content-col-small, .pm-sidebar, .sec-sidebar {
		 width: 100%;
	}
	.post-tags {
		text-align: center;
		margin-bottom: 10px;
	}
	.large-posts .read-more, .medium-posts .read-more {
		float: none;
	}
	.tpath-social-share-box {
		float: none;
		text-align: center;
	}
	.testimonial-slider-wrapper.type-author_top, .testimonial-slider-wrapper.type-author_bottom {
		padding: 5px;
	}
	.testimonial-carousel-slider .testimonial-content, .testimonial-item {
		padding: 0;
	}
	.testimonial-carousel-slider .owl-carousel .owl-stage-outer {
		padding-bottom:60px;
	}
	.testimonial-carousel-slider .testimonial-content {
		padding:20px;
	}
	.testimonial-carousel-slider .owl-nav {
		bottom: -10px;
		position: absolute;
		right: 0;
	}
	.testimonial-carousel-slider.owl-carousel.owl-theme .owl-controls .owl-nav div{
		transform:none;
	}
	.testimonial-wrapper {
		padding-bottom: 60px;
	}
	.team-item .team-content-wrapper::before {
		height: 110px;
		top: -60px;
	}
	.tpath-quote-box .tpath-quote-border .tpath-quote-content {
		padding: 10px;
	}
	.tpath-quote-box.with_author_img .tpath-quote-content .quote-author-info {
		padding-left: 95px;
	}
	.tpath-row-inner-wrapper .vc_custom_1438543397583 {
		padding-right: 15px !important;
	}
	.tpath-row-inner-wrapper .vc_custom_1438889125956 {
		width: 100%;
	}
	
	/* ------- Logo & Menu ------- */	
	.tpath-top-navbar, .navbar-nav.tpath-main-nav {
		float: none;
	}
	.tpath-top-navbar > li, .tpath-top-bar .header-top-right {
		float: left;
		width: 100%;
		text-align: center;
		padding-top: 0;
	}
	.tpath-top-bar .header-top-right {
		margin: 10px 0;
	}
	.logo-center .tpath-main-nav.nav.navbar-nav > li > a {
		line-height:26px;
	}
	.logo-center.header-sticky .is-sticky .tpath-main-nav.nav.navbar-nav > li > a {
		line-height: 50px;
	}
	.navbar-nav.tpath-main-nav > li {
		display: inline-block;
		height: auto;
	}	
	.nav.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}	
	.navbar-nav.tpath-main-nav > li {
		padding-right: 3px;
	}
	.tpath-top-bar .header-sidebar-social, .tpath-top-bar .header-search-form {
		width: 100%;
	}
	.tpath-top-bar .header-sidebar-social .tpath-social-icons, .tpath-top-bar .header-search-form .search-form {
		height: auto;
	}
	.tpath-top-bar .header-search-form .search-form {
		max-width: none;
	}
	.our-skills {
		margin-bottom: 15px;
	}
	.tpath-imageframe, .tpath-imageframe-overlay {
		width: 100%;
	}
	.tpath-imageframe-overlay img {
		width: 100%;
	}	
	.tpath-services-item {
		margin-bottom: 25px;
	}
	.tpath-counter {
		display: block;
		text-align: center;
	}
	.counter-icon, .counter-info {
		display: inline-block;
	}
	.main-testimonial-image img {
		margin: 0 auto;
	}
	.testimonial-author {
		text-align: center;
	}
	.tpath-input-email.pull-right {
		float: none !important;
	}
	.imageframe-overlay .imageframe-overlay-content .pull-left .tpath-imageframe {
		width: auto;
	}	
	.testimonial-slider-section {
		padding-bottom: 35px;
	}
	.portfolio-gallery-wrapper .portfolio-top-wrapper {
		text-align: center;
	}
	.portfolio-gallery-wrapper .portfolio-section-title {
		display: inline-block;
		float: none;
		margin: 0 auto 20px;
	}
	.portfolio-top-wrapper .portfolio-tabs {
		float: none;
	}
	.team-member {
		overflow: hidden;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
		right: 74px;
	}
	.testimonial-carousel-slider.owl-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
		left: -190px;
	}
	.header-main-section .navbar-collapse {
		clear: inherit;
		float: initial;
	}
	.header-main-section.is-sticky .navbar-collapse {
		margin-top: 1em;
	}
	.logo-left .nav.navbar-nav.tpath-main-bar {
		float: right;
	}
	.tpath-special-imagearea, .tpath-special-contentarea {
		width: 100%;
	}
	.tpath-special-contentarea {
		padding: 32px 32px 50px 32px;
	}
	.tpath-tiled-gallery-wrapper .tpath-gallery-item, .tpath-tiled-gallery-wrapper .tpath-gallery-sizer {
		width: 50%;
	}
	.tpath-tiled-gallery-wrapper .tpath-landscape-img {
		width: 100%;
	}
	.tpath-posts-container.list-layout.list-columns .list-posts, #archive-posts-container.list-layout.list-columns .list-posts {
		width: 100%;
	}
	.tpath-posts-container.list-layout.list-columns > article:nth-child(2n), #archive-posts-container.list-layout.list-columns > article:nth-child(2n) {
		margin-left: 0;
	}
	.tpath-posts-container.list-layout.list-columns > article:nth-child(2n+1), #archive-posts-container.list-layout.list-columns > article:nth-child(2n+1) {
		margin-right: 0;
	}
	.tpath-main-nav.nav.navbar-nav > li > a {
		padding: 0 15px;
	}
	.testimonial-item {
		padding: 0 5px;
	}
	.testimonial-carousel-slider .testimonial-content {
		padding: 0;
	}
	.testimonial-item .author-image img {
		margin-right: 5px
	}
	.testimonial-carousel-slider .testimonial-item .testimonial-info {
		padding-left: 5px;
		padding-right: 5px;
	}
			
	/* ------- Disable Animations ------- */
	.animated {
		visibility: visible !important;
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}	
	
	/* ------- Woocommerce ------- */
	.woocommerce ul.products.products-4 li.product, .woocommerce-page ul.products.products-4 li.product, 
	.woocommerce ul.products.products-5 li.product, .woocommerce-page ul.products.products-5 li.product {	
		width: 32%;
	}	
	.woocommerce ul.products.products-5 li.product:nth-child(3n), .woocommerce-page ul.products.products-5 li.product:nth-child(3n), 
	.woocommerce ul.products.products-4 li.product:nth-child(3n), .woocommerce-page ul.products.products-4 li.product:nth-child(3n) {
		margin-right: 0;
	}	
	.woocommerce ul.products.products-5 li.product:nth-child(5n), .woocommerce-page ul.products.products-5 li.product:nth-child(5n),
	.woocommerce ul.products.products-4 li.product:nth-child(4n), .woocommerce-page ul.products.products-4 li.product:nth-child(4n) {
		margin-right: 2%;
	}
	.woocommerce ul.products.products-5 li.product:last-child, .woocommerce-page ul.products.products-5 li.product:last-child,
	.woocommerce ul.products.products-4 li.product:last-child, .woocommerce-page ul.products.products-4 li.product:last-child {
		margin-right: 0;
	}
	.woocommerce ul.products.products-5 li.first, .woocommerce-page ul.products.products-5 li.first, 
	.woocommerce ul.products.products-4 li.first, .woocommerce-page ul.products.products-4 li.first {
		clear: none;
	}
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n) {
		float: left;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		clear: none;
	}
	.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
		width: 48%;
	}
	.location-form .tpath-field-group {
		margin-bottom: 15px;
		width: 25%;
	}
	.tpath-form-button {
		float: right;
		width: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Bottom Spacing */
	.wpb_row .wpb_column.vc_col-sm-6,
	.wpb_row .wpb_column.vc_col-sm-12 {
		margin-bottom: 30px;
	}
	.wpb_row .wpb_column.vc_col-sm-6:nth-last-child(1), 
	.wpb_row .wpb_column.vc_col-sm-6:nth-last-child(2),
	.wpb_row .wpb_column.vc_col-sm-4 {
   		margin-bottom: 0;
	}
	.wpb_row .wpb_column.vc_col-sm-12:last-child {
   		margin-bottom: 0;
	}
	
	.tpath-opening-hours-wrapper.two_column .opening-days {
		width: 100%;
	}
	.testimonial-ticker-slider .testimonial-author img {
		margin: 0 auto;
	}
	.testimonial-ticker-slider .testimonial-author, .testimonial-ticker-slider .testimonial-content {
    	display: block;
	}
	.testimonial-ticker-slider .testimonial-author {
		width: 100%;
		margin-bottom: 20px;
		padding:0;
	}
	.testimonial-ticker-slider .testimonial-content h5 {
		text-align: center;
	}
	#footer-widgets-container .footer-widgets {
		width: 50%;
	}
	.tpath-counter-section .tpath-counter-icon {
		float:none;
		margin:0 auto;
		text-align:center;
	}
	.tpath-counter-section.text-left {
		text-align: center;
	}
	.tpath-main-nav.nav.navbar-nav > li > a, .header-main-section.is-sticky .tpath-main-nav.nav.navbar-nav > li > a {
		padding: 0 1px;
	}
	.htype-header-2 .navbar-nav > li {
		float: none;
	}
	.htype-header-2 .tpath-main-nav.nav.navbar-nav > li > a {
	    line-height: 30px;
	}
	.htype-header-2 .dropdown-menu > li > a, .dropdown-menu .sub-menu a {
		padding: 5px 16px;
	}
	.header-main-section p {
		float: right;
	}
	.tpath-column-inner-wrapper .vc_tta-panel-body .vc_chart .vc_chart-legend, .tpath-column-inner-wrapper .vc_tta-panel-body .vc_chart .vc_chart-with-legend {
		width: 100%;
	}
	.header-dark .tpath-main-nav.nav.navbar-nav > li > a {
		margin: 0 2px;
	}
	.campaign-donation-progress-wrapper {
		margin-right: 0;
		width: 100%;
	}
	.campaign-donation-button {
		margin: 10px 0;
		width: 100%;
	}
	.tpath-events-list-wrapper.style-grid .ecs-event-list li.ecs-clearfix {
		display:none;
	}
	.ecs-event-list li.ecs-event {
		margin-bottom: 20px;
	}
	.campaign-grid.campaign-grid-4 li {
		width: 50%;
	}
	.campaign-grid-3 .campaign.hentry {
		width: 100%;
	}
	.tpath-feature-box.style-title-with-icon .feature-icon-large .feature-icon-box-title, .tpath-feature-box.style-title-with-icon .feature-icon-large .feature-box-title {
		line-height: 24px;
		min-height: 42px;
	}
	.tpath-feature-box.style-default-box .text-left.feature-icon-large .feature-content-wrapper, .tpath-feature-box.style-title-with-icon .text-left.feature-icon-large .feature-icon-box-title .feature-box-title {
		margin-left: 50px;
	}
	.portfolio-tabs li a {
	    padding: 0 5px;
	}
	.woocommerce .order_details.order_info li {
		padding-right: 1em;
		margin-right: 1em;
	}
}


/* 767 - Styles */
@media only screen and (max-width: 767px) {
	/* Column Bottom Spacing */
	.wpb_row .wpb_column {
    	margin-bottom: 30px;
	}	
	.is-sticky.header-main-section {
		background: rgba(255, 255, 255, 0.7);
	}
	.header-section .header-main-section {
		padding: 5px 0;
		z-index: 999;
	}
	.header-top-section .navbar-header.nav-respons {
		margin: 0;
	}
	.logo-center #tpath_wrapper .header-section {
		min-height: auto;
	}
	.header-main-section.is-sticky .tpath-logo .navbar-brand {
		max-width: 110px;
		margin: 0 auto;
		float: none;
	}
	.header-main-section .nav.navbar-nav li.extra-nav.search-nav, .header-main-section .nav.navbar-nav li.extra-nav.header-main-cart {
		line-height: 45px;
	}
	.header-main-section .nav.navbar-nav li.extra-nav.search-nav {
		height: 40px;
	}
	.header-search-form {
		text-align: left;
	}
	.header-search-form .btn-trigger {
		display: none;
	}
	.header-search-form .search-form {
		display: block;
		left: 0;
		right: 0;
		top: 0;
		transform: translateY(0px);
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
	}
	.wrapper-class .header-main-section .navbar-header.tpath-logo {
		max-width:none;
		position:relative;
		width:100%;
	}
	.header-main-section .container {
		position: relative;
	}
	.logo-left .header-main-section .tpath-logo .navbar-brand {
		max-width: 280px;
		float: left;
	}
	.logo-left .header-main-section.is-sticky .tpath-logo .navbar-brand {
		max-width: 140px;
	}
	.logo-right .header-main-section .tpath-logo .navbar-brand {
		max-width: 280px;
		float: right;
	}
	.logo-right .header-main-section.is-sticky .tpath-logo .navbar-brand {
		max-width: 140px;
	}
	.page-title-wrapper {
		margin-top: 0;
	}
	.navbar-header.tpath-logo {
		margin:0;
		padding:0;
	}
	.header-section .header-main-section.is-sticky .tpath-main-nav.nav.navbar-nav > li > a, .header-section .header-main-section .tpath-main-nav.nav.navbar-nav > li > a {
		line-height: 20px;
		padding: 5px 10px;
		margin-left: 0;
	}
	.header-main-section .navbar-collapse ul {
		margin: 0;
	}
	.menu-item ul li h3.tpath-megamenu-title {
		padding: 0;
	}
	.menu-item ul li {
		margin-bottom: 0;
	}
	.wrapper-class .is-sticky .navbar-header.tpath-logo {
		width:100%;
	}
	.header-menu-bar {
		padding: 0;
	}
	.header-menu-bar .navbar-collapse {
		background: #F6F6F6;		
		z-index: 9999;
	}
	.header-top-section {
		height: auto;
	}
	.header-top-section button.navbar-toggle {
		background: transparent;
	}	
	.nav.navbar-nav.tpath-main-bar {
		float: none;
		display: block;
		width: 100%;
	}
	.header-main-section .navbar-collapse {
		padding: 0 20px;
		text-align: left;
	}
	.header-section.header-dark.header-main-section .navbar-collapse {
		background:#222B34;
	}
	.header-section.header-light.header-main-section .navbar-collapse {
		background:#fff;
	}
	.tpath-main-nav.navbar-nav.navbar-main > li > a {
		line-height: 20px;
		padding: 5px 10px;
	}
	.dropdown-menu a, .mobile-sub-menu a, .header-main-section .nav.navbar-nav ul.dropdown-menu li.current-menu-parent ul li a, .header-main-section .nav.navbar-nav ul.dropdown-menu li.current-menu-parent ul li a {
		background:none;
	}
	.menu-item {
		margin-bottom: 10px;
	}
	.menu-icon-box {
		display: block;
		color: #fff;
	}
	.navbar-toggle {
		margin: 0;   
		z-index: 1; 	
	}
	.header-sticky.is-sticky .tpath-logo .navbar-brand {
		height: auto;
	}
	.navbar-brand {
		width: 100%;
	}
	.header-main-section .navbar-toggle {
		position: absolute;
		right: 5px;
		top: 50%;
		border-radius:0;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}	
	.header-menu-bar .navbar-toggle {
		width: 100%;
		margin: 0;
		padding: 10px 15px;
	}
	.menu-icon-box {
		float: left;
	}
	.menu-icon {
		float: right;
		margin: 3px 0 0;
	}
	.header-top-bar {
		padding: 15px 0;
	}
	.header-menu-bar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	.header-menu-bar .navbar-nav.tpath-main-nav {
		margin: 0;
	}
	.navbar-right.tpath-main-right .header-search-form {
		padding: 0 15px;
	}
	.header-top-right-search {
		float: none;
		margin: 0;
	}
	.header-top-right-search .search-form {
		margin: 0 auto;
	}
	.tpath-top-bar .header-sidebar-social, .tpath-top-bar .header-search-form {
		padding: 0 15px;
	}
	.tpath-logo {
		width: auto;
		display: block;
		height: auto;		
	}
	.tpath-logo .navbar-brand {
		width: auto;
		padding-left: 0;
		display: block;
		float: left;
		max-width: 200px;
		margin: 0 auto;
	}
	.header-main-section.is-sticky .tpath-logo .navbar-brand {
		width:100%;
	}
	.tpath-logo .navbar-header {
		padding-right: 15px;
	}
	.logo-left .tpath-top-bar, .logo-center .tpath-top-bar, .logo-right .tpath-top-bar {
		float: none;
		text-align: center;
		padding: 0;
	}	
	.logo-right .navbar-nav.navbar-right:last-child {
		margin-left: -15px;
		margin-right: -15px;
	}
	.header-top-section ul li.header-top-cart { 
	   display: inline-block;
	 }
	.header-top-section ul li.header-top-cart {
		float: left;
	}
	.header-top-section .tpath-top-right .socials-nav {
		position: relative;
	}
	.header-section .tpath-main-bar {
		position:relative;
		top: 0;
		transform: none;
	}
	.nav.navbar-nav > li > a {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav.tpath-main-nav > li {
		display: block;
	}
	.tpath-main-nav.nav.navbar-nav > li > a::before {
		display: none;
	}
	.tpath-main-nav.nav.navbar-nav > li > a, .header-sticky.is-sticky .tpath-main-nav.nav.navbar-nav > li > a {
		line-height: 30px;
		text-align: left;
	}
	.tpath-main-nav.navbar-nav.navbar-main > li > a {
		padding-bottom: 10px;
		padding-top: 10px;
		color: #222;
	}
	.header-dark .nav.navbar-nav.tpath-main-nav li a, .header-dark .nav.navbar-nav.tpath-main-nav li span.menu-toggler, .header-dark .menu-icon-box {
		color: #FFF;
	}
	.header-light .nav.navbar-nav.tpath-main-nav li a, .header-light .nav.navbar-nav.tpath-main-nav li span.menu-toggler, .header-light .menu-icon-box {
		color: #222;
	}
	.header-main-section .nav.navbar-nav.tpath-main-nav li > a::after {
		display:none;
	}
	.header-light .navbar-header .icon-bar {
		background: #222 none repeat scroll 0 0;
	}
	.mobile-sub-menu li a {
		padding: 8px 15px;
		display: block;
		line-height: 16px;
	}
	#main-mobile-nav li .menu-toggler {
		padding: 5px 0;
	}
	#main-mobile-nav li .menu-toggler {
		padding: 0;
	}
	#mobile-menunav ul li span.menu-toggler i {
		line-height: 10px;
	}
	.navbar-nav.tpath-main-nav .tpath-mobile-megamenu li {
		margin-right: 0;
	}
	.tpath-megamenu-title {
		margin: 0;
		padding: 10px 0;
	}
	.navbar-collapse {
		max-height: 220px;		
	}
	.container .navbar-collapse .navbar-nav {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-top: 0;		
	}
	.header-top-section ul.nav.navbar-nav.tpath-top-right {
		margin-bottom: 0;
	}
	.wpb_wrapper > .tpath-feature-box.tpath-featurebox-image {
		margin-bottom: 20px;
	}
	.tpath-tiled-gallery-wrapper .tpath-gallery-item, .tpath-tiled-gallery-wrapper .tpath-gallery-sizer {
		width: 100%;
	}
	.tpath-tiled-gallery-wrapper .tpath-landscape-img {
		width: 100%;
	}
	.testimonial-carousel-slider .testimonial-left {
		padding-right: 0;
	}
	.testimonial-carousel-slider .testimonial-content {
		margin-right: 0;
		min-height: 0px;
	}
	.testimonial-list-wrapper.tpath-testimonial {
		padding-top: 20px;
	}
	.vc_column_container.border-bottom_right_rotate::after {
		display:none;
	}
	.main-col-small, .main-col-full, .content-col-small, .content-col-full, .pm-sidebar, .sec-sidebar, .fullwidth-page-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.tpath-vc-section.overlay-half-wrapper:before {
		width: 100%;
		transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		-ms-transform: none;
		left: 0;
		bottom: 0;
		top: 0;
	}
	.large-layout .read-more, .medium-layout .read-more {
		float: none;
		text-align: center;
	}
	.large-layout .tpath-social-share-box, .medium-layout .tpath-social-share-box {
		clear: both;
		float: none;
		text-align: center;
	}
	.share-options {
		float: none;
		margin: 10px 0 0;
		width: 100%;
	}
	.tpath-contact-info {
		padding-left:15px;
	}
	.grid-col-2 .grid-posts, .grid-col-3 .grid-posts, .grid-col-4 .grid-posts {
		width: 100%;
	}	

	.grid-layout.grid-col-4 .audio-player .mejs-container .mejs-time.mejs-currenttime-container, .grid-layout.grid-col-4 .audio-player .mejs-container .mejs-time.mejs-duration-container {
		display: block;
	}
	.comment-form-author, .comment-form-email, .comment-form-url {
		width: 100%;
		margin-right: 0;
	}	
	.input-budget.form-control {
		margin-bottom:30px;
	}
	.tpath-contact-form-wrapper select {
		margin-bottom:30px;
		width:100%;
	}
	.tpath-special-imagearea, .tpath-special-contentarea {
		width: 100%;
	}
	.logo-right .header-main-section .navbar-toggle {
		right:auto;
		left:10px;
	}
	.header-section.htype-header-1 .tpath-main-bar .tpath-main-nav > li, .header-section.htype-header-1 .tpath-main-bar > li {
		display: block;
	}
	.header-section.htype-header-1 .tpath-main-bar, .header-section.htype-header-1 .tpath-main-bar .navbar-nav {
		text-align:left;
	}
	.vc_row .wpb_column {
	    overflow: hidden;
	}
	.portfolio-gallery-wrapper .portfolio-tabs.style1-box > li {
		border-width: 1px;
		margin: 3px;
	}
	.portfolio-single-image {
		overflow: hidden;
		margin-bottom: 3em;
	}
	.single-tpath_team_member .team-content-wrapper {
		border:none;
	}
	.related-members li .entry-thumbnail {
		width: 50%;
		float: left;
	}
	.related-members li {
		clear: both;
		margin-bottom: 2em;
		overflow: hidden;
	}
	.wpb_single_image.vc_align_right {
		text-align: center;
	}
	.vc_tta.vc_general .vc_tta-panel-title > a {
		font-size: 16px;
	}
	.campaign-summary .campaign-summary-item {
		width: 100%;
	}
	.ecs-event-list li.ecs-event {
		padding: 0;
	}
	.header-top-section p {
		margin-right: 0;
		margin-left: 10px;
	}
	.campaign-summary .campaign-summary-item {
		min-height: inherit;
	}
	.vc_tta-style-tpath_tour_design.vc_tta.vc_general.vc_tta-tabs-position-right .vc_tta-panel-body {
		padding-right: 0;
	}
	
	/* ------- Footer ------- */	
	.footer-copyright-section .copyright-info {
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-social .tpath-social-icons {
		display: block;
		text-align: center;
	}
	#footer-widgets-container .footer-widgets {
		margin: 30px 0;
	}
	.footer-copyright-section .copyright-info {
		margin-left: 10px;
	}
	.footer-copyright-section .footer-social {
		float: left;
		margin-bottom: 20px;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.large-posts, .medium-posts {
		margin-bottom: 50px;
		padding-bottom: 30px;
	}
	.vc_btn3-container.vc_btn3-left, .vc_btn3-container.vc_btn3-right {
		text-align: center;
		margin:10px 0;
	}
	.ecs-event-list li.ecs-event {
		margin-bottom: 30px;
	}
	.tpath-campaign-inner .campaign-image-box {
		margin-right: 0;
		width: 100%;
	}
	.tpath-events-list-wrapper .ecs-event-list.type-list .ecs-event-overlay {
		margin-right: 0;
		width: 100%;
	}
	
	/* ------- Woocommerce ------- */
	.header-top-cart .woo-header-cart .woo-cart-contents {
		display: none;
	}
	.woocommerce ul.products.products-2 li.product, .woocommerce-page ul.products.products-2 li.product,
	.woocommerce ul.products.products-3 li.product, .woocommerce-page ul.products.products-3 li.product,
	.woocommerce ul.products.products-4 li.product, .woocommerce-page ul.products.products-4 li.product, 
	.woocommerce ul.products.products-5 li.product, .woocommerce-page ul.products.products-5 li.product {	
		width: 58%;
	}	
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n) {
		float: none;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		margin-right: auto;
		margin-left: auto;
		float: none;
		clear: both;
	}	
	.woocommerce ul.products.products-5 li.product:nth-child(5n), .woocommerce-page ul.products.products-5 li.product:nth-child(5n),
	.woocommerce ul.products.products-4 li.product:nth-child(4n), .woocommerce-page ul.products.products-4 li.product:nth-child(4n) {
		margin-right: auto;
	}
	.woocommerce ul.products.products-5 li.product:nth-child(3n), .woocommerce-page ul.products.products-5 li.product:nth-child(3n), 
	.woocommerce ul.products.products-4 li.product:nth-child(3n), .woocommerce-page ul.products.products-4 li.product:nth-child(3n) {
		margin-right: auto;
	}
	ul.products.products-2 li.product:nth-child(2n), ul.products.products-3 li.product:nth-child(3n), ul.products.products-4 li.product:nth-child(4n), ul.products.products-5 li.product:nth-child(5n) {
		margin-right: auto;
	}
	.woocommerce ul.products.products-5 li.product:last-child, .woocommerce-page ul.products.products-5 li.product:last-child,
	.woocommerce ul.products.products-4 li.product:last-child, .woocommerce-page ul.products.products-4 li.product:last-child {
		margin-right: auto;
	}
	.woocommerce #order_review table.shop_table, .woocommerce-page #order_review table.shop_table {
		width: 100%;
	}	
	.woocommerce .order_details.order_info li {
		width: 42%;
		margin-bottom: 20px;
	}
	.tpath-row-inner-wrapper .vc_column_container.border-bottom_right, .tpath-row-inner-wrapper .vc_column_container.border-bottom_right_rotate, .tpath-row-inner-wrapper .vc_column_container.border-bottom_only {
		border-bottom: none;
	}
	.navbar-brand {
		height: 55px;
		line-height: 55px;
	}
	/* ------- Campaign ------- */
	.campaign-grid-2 .campaign.hentry {
		width: 100%;
		margin: 20px 0!important;
	}
	.campaign-grid-3 .campaign.hentry {
		width: 100%;
		margin: 20px 0!important;
	}
	.campaign-grid.campaign-grid-4 li {
		width: 100%;
		margin: 20px 0!important;
	}
}

/* ---------- MAX 640px ---------- */

@media only screen and (max-width:640px) {	
	.navbar-nav.tpath-main-nav .tpath-mobile-megamenu li {
		margin-bottom: 0;
	}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: 250px;
	}
	.navbar-header.tpath-logo img {
		padding: 0;
	}
	.cart-icon.cart-contents {
		text-align: right;
	}
	.is-sticky .navbar-brand {
		height: 50px;
		line-height: 50px;
	}
	.author-avatar {
		width: 100%;
	}
	.author-avatar img {
		margin: 0 auto;
		display: block;
	}
	.author-info-container {
		margin: 15px 0 0 0;
		float: left;
		width: 100%;
		text-align: center;
	}
	.imageframe-overlay .imageframe-overlay-content {
		position: static;
	}
	.imageframe-overlay-content .pull-left {
		float: none !important;
	}
	.tpath-imageframe, .tpath-imageframe-overlay {
		display: block !important;
		margin-top: 20px;
	}
	.imageframe-overlay .imageframe-overlay-content .pull-left .tpath-imageframe {
		margin: 0 0 15px 0;
	}
	.tpath-imageframe-overlay img {
		width: auto;
		margin: 0 auto;
	}
	.testimonial-carousel-slider .testimonial-content {
		margin-right:0;
	}
	.testimonial-list-wrapper.two_column .testimonial-item:nth-child(2n+1) {
		margin-right: 0;
	}
	.testimonial-list-wrapper.two_column .testimonial-item {
		width: 100%;
		margin-right: 0;
	}
	.entry-content #charitable-donation-form .donation-amounts .donation-amount {
		width: 100%;
		margin: 5px 0;
	}
	.entry-content fieldset#charitable-donor-fields {
		width: 100%;
		margin-right: 0;
	}

	/* ------- Woocommerce ------- */
	.woocommerce ul.products.products-2 li.product, .woocommerce-page ul.products.products-2 li.product,
	.woocommerce ul.products.products-3 li.product, .woocommerce-page ul.products.products-3 li.product,
	.woocommerce ul.products.products-4 li.product, .woocommerce-page ul.products.products-4 li.product, 
	.woocommerce ul.products.products-5 li.product, .woocommerce-page ul.products.products-5 li.product {	
		width: 75%;
	}
	
	.woocommerce .order_details.order_info li {
		width: 100%;
		padding-right: 0;
		margin-right: 0;
		border: none;
	}

}

@media only screen and (max-width: 480px) {	
	.logo-center .navbar-header.tpath-logo {
	    padding: 0 20px;
	}
	.navbar-brand {
		height: 45px;
		line-height: 45px;
	}
	.navbar-toggle {
	    padding: 5px 10px;
	}
	.author-avatar, .comment-avatar {
		text-align: center;
		margin-bottom: 15px;
	}
	.comment-avatar {
		margin-bottom: 35px;
	}
	.author-avatar img, .comment-avatar img {
		float: none;		
		margin: 0 auto;
	}
	.author-info-container, .comments-box-container {
		margin-left: 0;
	}	
	.tpath-all-comments ul.children {
		padding-left: 10px;
	}
	.comment-avatar {
		float: none;
	}
	.comments-box-container:after, .comments-box-container:before { 
		right: 44%; 
		top: -20px;
	}
	.comments-box-container:before {
		margin-top: -20px;
	}
	.comments-box-container:after { 	
		border-color: transparent; 
		border-bottom-color: #fff; 
	} 
	.comments-box-container:before {
		border-color: transparent;
		border-bottom-color: #fff;
	}
	.footer-social .tpath-social-icons.soc-icon-circle a {
		 margin-bottom: 10px;
	}
	.parallax-title {
		font-size: 55px;
	}
	.form-style-default .tpath-input-text, .form-style-default .tpath-input-email, .form-style-default .tpath-input-phone {
		float: left;
		width: 100%;
	}
	.tpath-opening-hours-wrapper.two_column .opening-days {
		margin-right: 0;
		width: 100%;
	}
	.location-form .tpath-field-group {
		margin-bottom: 15px;
		width: 100%;
		padding: 0;
	}
	.page-title-container {
		padding: 30px 15px;
	}
	.page-title-header {
		width: 100%;
	}
	.page-breadcrumbs {
		width: 100%;
	}
	.container .tpath-counter-section {
		margin: 0.5em 0;
	}
	.team-style3 .team-image-wrapper img {
		max-width: 180px;
	}
	.team-style3 .team-item .team-content-wrapper {
		padding-left: 200px;
	}
	.header-top-section .tpath-top-nav .navbar-nav > li > a {
		line-height: 22px;
	}
	.vc_tta-style-tpath_tour_design.vc_tta.vc_general .vc_tta-panel-body {
		padding-left: 25px;
	}
	.single-post .post-content .right-content {
		padding-left: 0;
		padding-top: 80px;
	}
	
	.post-content .left-content {
		margin-right: 10px;
	}
	.post-content .right-content {
		padding-left: 0;
	}
	.entry-meta-list {
		float: left;
		width: 100%;
	}
	.tpath-posts-container.large-layout .large-posts .post-content .entry-summary {
		display: inline-block;
	}
	.tpath-posts-container.large-layout .large-posts .post-content {
		padding-bottom: 10px;
	}
	.tpath-posts-container.large-layout .large-posts {
		margin-bottom: 20px;
	}
	.list-layout.list-fullwidth .list-posts .posts-content-container .post-media {
		margin-right: 0;
	}
	.list-layout.list-fullwidth .posts-content-container .entry-thumbnail {
		width: 100%;
	}
	.list-layout.list-fullwidth .list-posts.has-post-thumbnail .posts-content-container .post-content {
		width: 100%;
		padding-left: 0;
	}
	.list-layout.list-fullwidth .list-posts .posts-content-container .post-media {
		margin-right: 0;
		width: 100%;
	}
	.list-layout .posts-content-container .entry-thumbnail {
		position: relative;
	}
	.grid-posts .right-content .entry-summary {
		display: inline-block;
	}
	.tpath-campaign-wrapper .campaign-donation-progress-wrapper {
		float: none;
		margin-bottom: 15px;
		margin-right: 0;
		width: 100%;
	}
	.tpath-campaign-wrapper  .campaign-donation-button {
		float: none;
		width: 25%;
		margin: 0 auto;
	}
	.campaign-donation-button {
		float: none;
		width: 25%;
		margin: 0 auto;
	}
	.tpath-feature-box.style-default-box .feature-box-inner.text-left .feature-icon-wrapper, .tpath-feature-box.style-default-box .feature-box-inner.text-right .feature-icon-wrapper {
		position: relative;
	}
	.feature-icon-wrapper {
		text-align: center;
	}
	.tpath-feature-box.style-default-box .text-left.feature-icon-large.feature-icon-shape .feature-content-wrapper, .tpath-feature-box.style-title-with-icon .text-left.feature-icon-large.feature-icon-shape .feature-icon-box-title .feature-box-title {
		margin-left: 0;
	}
	.tpath-testimonial .testimonial-item .testimonial-author .author-image {
		margin: 0;
	}
	.tpath-testimonial .testimonial-item .testimonial-author .author-image img {
		max-width: 100%;
		width: 100%;
	}
	.tpath-testimonial .testimonial-content {
		padding-right:0;
	}
	.testimonial-content .testimonial-text {
		padding: 10px;
	}
	.footer-copyright-section .copyright-info {
		float: left;
		width: 100%;
	}
	.footer-copyright-section .footer-social {
		float: left;
		width: 100%;
	}
	.footer-social ul.soc-icon-flat li {
		margin: 5px;
	}
	.footer-copyright-section .copyright-info {
		margin-left: 10px;
	}
	.tribe-events-list .tribe-events-loop.vcalendar .tribe-events-event-image {
		margin: 0;
		width: 100%;
	}
	.tribe-events-list .tribe-events-loop.vcalendar .tribe-events-event-image img {
		width: 100%;
	}
	.tribe-events-list .tribe-events-loop.vcalendar .tribe-events-list-event-title a {
		font-size:20px;
	}
	.events-single .tribe-events-schedule h2 span {
		font-size: 20px;
	}
	.tpath-campaign-wrapper .campaign-donation-button {
		width: 100%;
		text-align: center;
	}
	.wpb_column .tpath-pricing-table-wrapper.vc-pricing-table {
		margin-bottom: 2em;
	}
	.portfolio-tabs li a {
		line-height: 30px;
		padding: 0 10px;
	}
	.countdown-section .countdown-amount {
		font-size: 40px;
	}

	/* ------- Woocommerce ------- */
	.woocommerce ul.products.products-2 li.product, .woocommerce-page ul.products.products-2 li.product,
	.woocommerce ul.products.products-3 li.product, .woocommerce-page ul.products.products-3 li.product,
	.woocommerce ul.products.products-4 li.product, .woocommerce-page ul.products.products-4 li.product, 
	.woocommerce ul.products.products-5 li.product, .woocommerce-page ul.products.products-5 li.product {	
		width: 95%;
	}	
	.woocommerce table.shop_table td, .woocommerce-page table.shop_table td, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
		padding-left: 8px;
		padding-right: 8px;
	}
}
/* ---------- MAX 479px ---------- */
@media only screen and (max-width: 479px) {	
	.header-section.header-transparent, .header-section.header-semi-transparent {
		position: relative;
	}
.header-section.header-transparent.header-dark, .header-section.header-transparent.header-dark .header-main-section {
    background: #222B34;
}
.header-section.header-transparent.header-light, .header-section.header-transparent.header-light {
    background: #fff;
}

}
/* ---------- MAX 360px ---------- */

@media only screen and (max-width:360px) {	
	.entry-meta li {		
		margin-bottom: 8px;
	}
	.nav.nav-tabs > li {
		float: none;
		margin-bottom: 5px;
	}
	.countdown-amount {
		font-size: 30px;
		padding: 20px;
	}
	.team-style3 .team-image-wrapper {
		float: left;
		width: 100%;
	}
	.team-style3 .team-item .team-content-wrapper {
		float: left;
		padding-left: 0;
		width: 100%;
		text-align: center;
	}
	.header-section.header-transparent, .header-section.header-semi-transparent {
		position: relative;
	}
	.vc_tta-panels-container .vc_tta-panel-body .vc_chart .vc_chart-legend, .vc_tta-panels-container .vc_tta-panel-body .vc_chart .vc_chart-with-legend {
		width: 100%;
	}
	.tpath-testimonial .testimonial-item .testimonial-author {
		width: 100%;
		text-align: center;
	}
	.tpath-testimonial .testimonial-item .testimonial-author .author-image {
		margin: -20px 0 0 0;
	}
	.tpath-testimonial .testimonial-item .testimonial-author .author-image img{
		margin: 0 auto;
	}
	.tpath-testimonial .testimonial-content {	
		padding-right:0;
	}
	.countdown-row.countdown-amount {
		font-size: 30px;
		line-height: 34px;
		padding: 0;
	}
	.footer-social ul.soc-icon-flat li {
		margin: 5px 2px;
	}
	.woocommerce table.shop_table td, .woocommerce-page table.shop_table td, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
		padding-left: 2px;
		padding-right: 2px;
	}
	.tpath-daycounter.tpath-campaign-counter {
		padding: 10px;
	}
	.countdown-section .countdown-amount {
		font-size: 18px;
	}

}
